<section>
  <h3>Do you need help with a software project or technical ad-hoc tasks?</h3>
  <p>
    I have experience in software development, software process evaluation, implementation, and setup. I am currently available for hire on a freelance basis.
  </p>
  <p>These are the fields where I can help you:</p>
  <ul>
      <li>Web Development, especially Ruby On Rails development</li>
      <li>Software process setup and optimization</li>
      <li>Software project management</li>
      <li>Ideation (idea generation and innovation)</li>
  </ul>
  <p>
    You can read more about me <a href="/about/">here</a>, and read more about what I can add to your project or company <a href="/consulting/">here.</a>
  </p>
  I am looking forward to working with you - Simon

  <h3>References</h3>
  <div class="grid">
    <div class="col-2-3">
      <p>
        We can definitely recommend Simon as a technical process consultant, not just due to his competencies but also as he is a very likable guy. <a href="/references/">Read more..</a><br>
        <small><i>Andreas Weiler, Partner at BBD Labs PLT</i></small>
      </p>
    </div>
    <div class="col-1-3">
      <img class="avatar" src="{{ site.baseurl }}assets/images/andreas.jpg" title="Andreas Weiler, BBD Labs" alt="Andreas Weiler, BBD Labs PLT"/>
    </div>

    <div class="col-2-3">
      <p>
        Simon is great to work with - he brings a great spirit to the team and is very good at problem solving.
        He's also a great asset when translating user needs into working solutions. <a href="/references/">Read more..</a><br>
        <small><i>Tommy Pedersen, Owner at Simmark ApS</i></small>
      </p>
    </div>
    <div class="col-1-3">
      <img class="avatar" src="{{ site.baseurl }}assets/images/tommy.jpg" title="Tommy Pedersen, Simmark ApS" alt="Tommy Pedersen, Simmark ApS"/>
    </div>
  </div>

</section>
