<section>
  <h3>Do you need help with a software project or technical ad-hoc tasks?</h3>
  <p>I have experience in software development, software process evaluation, implementation, and setup. I am currently available for hire on a freelance basis.
  You can read more about me <a href="/about/">here</a>, and read more about what I can add to your project or company <a href="/consulting/">here.</a><p>
  <p>These are the fields where I can help you:</p>
  <ul>
      <li>Web Development, especially Ruby On Rails development</li>
      <li>Software process setup and optimization</li>
      <li>Software project management</li>
      <li>Ideation (idea generation and innovation)</li>
  </ul>
  I am looking forward to working with you - Simon
</section>
