<section>
  <h3>Do you need help with a software project or technical ad-hoc tasks?</h3>
  <p>
    I specialize in designing and implementing modern IT and data architectures, leveraging Generative AI solutions, and optimizing regulatory compliance through innovative RegTech strategies. My focus is on delivering scalable, secure, and compliant solutions that empower organizations to innovate and thrive in today's dynamic technological landscape.
  </p>
  <p>Services Offered::</p>
  <ul>
      <li><b>IT & Platform Engineering:</b> Development of scalable hybrid cloud solutions and platform engineering to meet your business needs.</li>
      <li><b>Data Architecture & Management:</b> Design and implementation of secure and compliant data governance frameworks, ensuring efficient data management.</li>
      <li><b>Generative AI & Automation:</b> Deployment of secure AI solutions and AI agents to optimize workflows and enhance operational efficiency.</li>
      <li><b>RegTech & Regulatory Automation:</b> Streamlining regulatory compliance processes for financial services through advanced technological solutions.</li>
  </ul>
  <p>
    You can read more about me <a href="/about/">here</a>.
  </p>
  Let's work together to drive innovation and achieve your business goals.

<!--   <h3>References</h3>
  <div class="grid">
    <div class="col-2-3">
      <p>
        We can definitely recommend Simon as a technical process consultant, not just due to his competencies but also as he is a very likable guy. <a href="/references/">Read more..</a><br>
        <small><i>Andreas Weiler, Partner at BBD Labs PLT</i></small>
      </p>
    </div>
    <div class="col-1-3">
      <img class="avatar" src="{{ site.baseurl }}assets/images/andreas.jpg" title="Andreas Weiler, BBD Labs" alt="Andreas Weiler, BBD Labs PLT"/>
    </div>

    <div class="col-2-3">
      <p>
        Simon is great to work with - he brings a great spirit to the team and is very good at problem solving.
        He's also a great asset when translating user needs into working solutions. <a href="/references/">Read more..</a><br>
        <small><i>Tommy Pedersen, Owner at Simmark ApS</i></small>
      </p>
    </div>
    <div class="col-1-3">
      <img class="avatar" src="{{ site.baseurl }}assets/images/tommy.jpg" title="Tommy Pedersen, Simmark ApS" alt="Tommy Pedersen, Simmark ApS"/>
    </div>
  </div> -->

</section>
