<div class="profile">
    <section id="wrapper">
        <header id="header">
        {% if page.path == "index.html" %}
            <a href="{{ site.baseurl }}about">
                <img id="avatar2x" src="{{ site.baseurl }}assets/images/simon-stubben-avatar2x.png" title="Simon Stubben" alt="Simon Stubben's avatar"/>
            </a>
        {% else %}
            <a href="{{ site.baseurl }}">
              <img id="avatar" src="{{ site.baseurl }}assets/images/simon-stubben-avatar.png" title="Simon Stubben" alt="Simon Stubben's avatar"/>
            </a>
        {% endif %}
        {% if page.profile %}
            <h1>{{ site.author }}</h1>
            <h2>{{ site.description }}</h2>
        {% endif %}
        </header>
    </section>
</div>
